NEXTAUTH_URL=http://localhost:3000
SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

FACEBOOK_ID=
FACEBOOK_SECRET=

TWITTER_ID=
TWITTER_SECRET=

DATABASE_URL=sqlite://localhost/:memory:?synchronize=true