{
  "printWidth": 100,
  "bracketSpacing": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "importOrder": ["^(react)([-a-zA-Z]+)?$", "^(next)([-a-zA-Z/]+)?$", "^@material-ui/(.*)$",  "^@polkadot/(.*)$", "^[./]", "^[-a-zA-Z/]+"],
  "importOrderSeparation": true,
}
