.github
.next/
.storybook/
dist/
docs/
node_modules/
storybook-static/
src/lottie/
src/lib/firebase.ts
public/sw-env.js
*.tsbuildinfo
*.json


# PWA files
/public/sw.js
/public/workbox-*.js
/public/worker-*.js
/public/sw.js.map
/public/workbox-*.js.map
/public/worker-*.js.map
