{
    "semi": true,
    "tabWidth": 2,
    "printWidth": 140,
    "singleQuote": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "jsxBracketSameLine": true,
    "importOrder": ["^next/(.*)$", "^@material-ui/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "endOfLine": "auto"
}