{
    "semi": true,
    "tabWidth": 2,
    "printWidth": 140,
    "singleQuote": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "jsxBracketSameLine": true,
    "importOrder": ["^(react)([-a-zA-Z]+)?$", "^(next)([-a-zA-Z/]+)?$", "^@material-ui/(.*)$",  "^@polkadot/(.*)$", "^[./]", "^[-a-zA-Z/]+"],
    "importOrderSeparation": true,
    "endOfLine": "auto"
}